body {
    margin: 0;
  
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  
    background-color: beige ;

    display: flex;
    justify-content: center;
  
  }
      
.container {
    background-color: darkkhaki;
    width: 250px;
    height: 270px;
    border-radius: 40px;
    
    padding: 30px;
    margin: 30px
}

h2, div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorMessage {
    color: red;
    font-size: small;
}